@import "../../../responsive.scss";

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #365f36;
  gap: 10px;

  h2 {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-size: 55px;
    font-style: normal;

    @include mobile {
      font-size: 38px;
    }
  }
}
